body {
  background-image: linear-gradient(180deg, var(--bs-secondary-bg), var(--bs-body-bg) 100px, var(--bs-body-bg));
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.bd-mode-toggle {
  z-index: 1500;
}

.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
}

h3 {
  font-size: 2rem !important;
}

h4 {
  font-size: 1.2rem !important;
}

a {
  text-decoration: none !important;
}

.link-body-emphasis:hover {
  color: rgb(13, 110, 253) !important;
}

.zc-dropdown {
  height: 24px !important;
  border: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 2px !important;
}

@media screen and (min-width: 769px) {
  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
  .dropend .dropdown-toggle {
    margin-left: 0.5em;
  }
}